.plp-wrapper {
    width: 100%;
    margin-top: 80px;
}

.plp-category-name {
    padding-top: 80px;
    padding-left: 100px;
    font-family: Raleway;
    font-size: 42px;
    line-height: 160%;
    user-select: none;  
}

.plp-products_container {
    margin: 100px auto;
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 100px;
}

.product-card_wrapper {
    width: 386px;
    height: 444px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.15s ease-in;
}

.product-card_wrapper:hover {
    cursor: pointer;
    box-shadow: 0px 4px 34px 0px rgba(0,0,0,0.75);
    transition: all 0.15s ease-in;
}

.product-image {
    position: relative;
    width: 354px;
    height: 330px;
}

.product-image img {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    max-width:100%;
    max-height: 100%;
}

.product-content {
    width: 354px;
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-price {
    font-family: Raleway;
    font-size: 18px;
    line-height: 160%;
}

.product-name {
    font-family: Raleway;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    
}