.cart-overlay_container {
    position: absolute;
    top: 51px;
    right: 0px;
    width: 335px;
    max-height: 540px;
    padding: 5px;
    background-color: #ffffff;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    row-gap: 15px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
    overflow-y: auto;
}

.cart-overlay_text {
    font-weight: 700;
}

.cart-overlay-count_text {
    font-weight: 500;
}

.cart-summary_container,
.cart-btn_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-summary_container {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.cart-btn_container {
    margin-bottom: 10px;
}

.cart-btn_container button {
    width: 140px;
    height: 43px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0;
}

.cart-btn_view-bag {
    background-color: #ffffff;
    border: 1px solid black;
}

.cart-btn_check-out {
    background-color: #5ECE7B;
    border: none;
    color: #ffffff;
}
