.custom-select-container {
    display: inline-block;
    text-align: center;
    position: relative;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    cursor: pointer;
}

.selected-text {
    width: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
}

.vector-icon {
    transition: all 0.15s ease-in;
}

.vector-icon_transform {
    transform: rotate(180deg);
    transition: all 0.15s ease-in;
}

.custom-select-container ul {
    width: 75px;
    margin: 0;
    padding: 0;
    text-align: center;
    box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.75);
}

.select-options {
    position: absolute;
    width: 100%;
    z-index: 100;
}

.select-options li {
    list-style-type: none;
    padding: 6px;
    background: #ffffff;
    cursor: pointer;
    text-align: start;
}

.select-options li:hover {
    background-color: #d3d6d6;
    color: #ffffff;
}
